/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);*/

html {
  font-size: 24px;
  /*font-family: 'Open Sans', sans-serif;*/
}

* {
  /*backface-visibility: hidden;*/
  /*transform: translateZ(0);*/
}

h1 {
  font-size: 200%;
  text-align: center;
}

.slides {
/*  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 400px;
  right: 200px;
*/
  position: relative;
  height: 500px;
  width: 100%;
  border: 1px solid #ccc;
  z-index: 123;
}

.slide {
  /*max-width: 1000px;*/
  /*min-width: 600px;*/
  padding: 0;
  /*border: 1px solid #ddd;*/
}

.fragment {
  transition: all .2s;
}

.fragment.shaded {
  /*color: #ccc;*/
  opacity: 0.2;
}

.fragment.invisible, .fragment .invisible {
  opacity: 0;
}

.fragment.visible, .fragment.visible :not(.fragment).invisible {
  color: inherit;
  opacity: 1;
}

.status {
  font-size: 20px;
  position: absolute;
  bottom: -3px;
  right: 1px;
  color: #aaa;
}

code {
  font-style: normal !important;
}