@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

html {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  /*backface-visibility: hidden;*/
  /*transform: translateZ(0);*/
  /*background-color: white;*/
}

h1 {
  text-align: center;
}

.slide {
  /*max-width: 1000px;*/
  /*min-width: 600px;*/
  padding: 0;
  /*border: 1px solid #ddd;*/
}

.fragment {
  transition: opacity 0.3s;
  /*backface-visibility: hidden;*/
}

.fragment.shaded {
  /*color: #ccc;*/
  opacity: 0.2;
}

.fragment.invisible, .fragment .invisible {
  opacity: 0;
}

.fragment.visible, .fragment.visible :not(.fragment).invisible {
  color: inherit;
  opacity: 1;
}
